.App {
  text-align: center;
}

.App-logo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: maroon;
  font-weight: bolder;
}
.carousel-content {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 20;
  font-size:128px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-form {
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 20;
  background: rgba( 9, 9, 9, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
  color: white;
}
.text-on-carousel{
  font-size: 64px;
  font-weight: bold;
  color:white
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
